<app-navbar></app-navbar>
<ngx-flash-messages></ngx-flash-messages>
<div class="container-fluid">
    <!-- Header -->
    <div class="row body-section">
        <div class="col-md-4 col-md-offset-4">
            <div class="col-md-12 register-section">
                <div class="register-box">
                    <form class="register-form" (submit)="onLoginSubmit()">
                        <h2 class="text-center">Welcome back!</h2>
                        <div class="form-group">
                            <label>Username:</label>
                            <input type="text" class="form-control" [(ngModel)]="username" name="username">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" [(ngModel)]="password" name="password">
                        </div>
                        <input type="submit" class="btn btn-success my-btn" value="Login">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Section -->
    <div class="row footer">
        <div class="col-md-12">
            <p class="text-center">Create by: Jeff Pendergrass, Andrew Waller and Felipe Hernandez</p>
        </div>
    </div>
</div>