	<div class="container-fluid">
		<!-- Header -->
		<div class="row">
			<div class="col-md-12 header"></div>
		</div>
		<div class="row body-section">
			<div class="col-md-4 col-md-offset-4">
				<div class="col-md-12 register-section">
					<div class="register-box">
						<form class="register-form">
							<h2 class="text-center">Welcome! Lets get you started!</h2>
							<div class="form-group">
								<input class="form-control" id="name" name="one" placeholder="One" type="text">
							</div>
							<div class="form-group">
								<input class="form-control" id="two" placeholder="Two" type="text">
							</div>
							<div class="form-group">
								<input class="form-control" id="three" placeholder="Three" type="text">
							</div>
							<div class="form-group">
								<input class="form-control" id="four" placeholder="Four" type="text">
							</div><button class="btn btn-success my-btn" type=""><a href="dashboard.html">Submit</a></button>
						</form>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 dot-indicators text-center">
								<span class="dot dot-inactive"></span> <span class="dot dot-active"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>