<form (submit)="onRegisterSubmit()" class="register-form">
            <h2 class="text-center">Welcome! Lets get you started!</h2>
            <div class="form-group">
                  <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
                  <input type="text" [(ngModel)]="username" name="username" class="form-control" id="userName" placeholder="Username">
            </div>
            <div class="form-group">
                  <input type="text" [(ngModel)]="email" name="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                  <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-success my-btn" value="Submit">Next</button>
      </form>
      <div class="row">
            <div class="col-md-8 col-md-offset-2 dot-indicators text-center">
                  <span class="dot dot-active"></span>
                  <span class="dot dot-inactive"></span>
            </div>
      </div>