<div class="container-fluid">
  <!-- Main Hero Section -->
        <div class="row hero">
          <div class="row">
            <div class="col-md-12 my-nav">
              <div class="col-md-6">
                <p>logo goes here - sign in button</p>
              </div>
              <div class="col-md-6">
                <button class="sign-in"><a href="#" routerLink="/login">Sign in</a></button>
  
              </div>
            </div>
          </div>
  
          <div class="col-md-10 col-md-offset-1">
            <div class="col-md-6 headline text-center">
              <h1>TRANSFORM YOUR BODY <br> WITH OUR POWERFUL <br> 6 WEEK PROGRAM!</h1>
            <button class="btn btn-success start-btn"><a class="start-btn-text" href="#" routerLink="/register">Lets Do This. I'm Ready!</a></button>
            </div>
  
  <!-- Calorie Module Section -->
            <div class="col-md-6">
              <div class="calorie-cal" id="calorieCal">
  
              </div>
            </div>
          </div>
  <!-- End of Calorie Module Section -->
  
        </div>
  
  <!-- End of Main Hero Section -->
  
  <!-- Features Section -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
  
         <div class="col-md-6 feature-image">
           <div class="feature-box">
  
           </div>
  
         </div>
  
         <div class="col-md-6 feature-text">
           <h3>Feature #1</h3>
           <a href="#" routerlink="/dashboard">User dashboard</a>
         </div>
        </div>
      </div>
  
      <div class="row middle-feature">
        <div class="col-md-10 col-md-offset-1">
  
         <div class="col-md-6 feature-image">
           <div class="feature-box">
  
           </div>
  
         </div>
  
         <div class="col-md-6 feature-text">
           <h3>Feature #1</h3>
         </div>
        </div>
      </div>
  
      <div class="row">
      <div class="col-md-10 col-md-offset-1">
  
       <div class="col-md-6 feature-image">
         <div class="feature-box">
  
         </div>
  
       </div>
  
       <div class="col-md-6 feature-text">
         <h3>Feature #1</h3>
       </div>
      </div>
      </div>
  
  
  <!-- End of Features Section -->
  
  <!-- Footer Section -->
  <div class="row footer">
  <div class="col-md-12">
    <p class="text-center">Create by: Jeff Pendergrass, Andrew Waller and Felipe Hernandez</p>
  
  </div>
  </div>
  
  
  
  
  
  
  
  
  
      </div>
  