<section class="background">
    <div class="logo-box">
      <div>
        <img class="logo-img" src="../../../assets/img/logo2.png" alt="Buff Guy Dead Lifting barbell cartoon">
      </div>
    </div>
    <div class="container-fluid">
      <div class="col-md-12">
        <div class="row">
          <button class="btn btn-default start-button"><a class="start-button" href="#" routerLink="/register">GET STARTED!</a></button>
          <button class="btn btn-default start-button"><a class="start-button" href="#" routerLink="/login">Login</a></button>
        </div>
        <div class="row">
          <h1 class="button-header">TRANSFORM  YOUR  BODY  WITH  OUR  POWERFUL  6  WEEK  PROGRAM!</h1>
        </div>
  
      </div>
    </div>
    </section>