<div class="container-fluid">
    <!-- Main Hero Section -->

          <div class="row hero">
            <div class="row mynav-bar">
                <div class="col-md-6">
                  <div class="gf-logo">
                  <img src="./assets/img/gf-logo-white.png" class="logo" alt="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="sign-in navbar-right"><a href="login.html" routerLink="/login">Sign in</a></div>

                </div>
            </div>

            <div class="col-md-10 col-md-offset-1">
              <div class="col-md-6 headline text-center">
                <h1>TRANSFORM YOUR BODY <br> WITH OUR POWERFUL <br> 6 WEEK PROGRAM!</h1>
              <button class="btn btn-success start-btn"><a class="start-btn-text" href="register.html" routerLink="/register">Lets Do This. I'm Ready!</a></button>
              </div>

    <!-- Calorie Module Section -->
              <div class="col-md-6">
                <div class="calorie-cal" id="calorieCal">

                </div>
              </div>
            </div>
    <!-- End of Calorie Module Section -->

          </div>

    <!-- End of Main Hero Section -->

    <!-- Features Section -->
    <div class="container-fluid features-section">


        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Our Features</h1>
          </div>

        </div>
        <div class="row">

           <div class="col-md-4 features text-center">
             <i class="fas fa-chart-line icons"></i>
             <h3>Set Your Goals</h3>
             <p>Lorem ipsum dolor sit amet, no erat regione his. Corpora pertinax eam id. Vel soluta tractatos vulputate ex, libris tincidunt ut eum.</p>
           </div>

           <div class="col-md-4 features text-center">
             <i class="fas fa-stopwatch icons"></i>
             <h3>Track Your Progress</h3>
             <p>Lorem ipsum dolor sit amet, no erat regione his. Corpora pertinax eam id. Vel soluta tractatos vulputate ex, libris tincidunt ut eum.</p>
           </div>

           <div class="col-md-4 features text-center">
             <i class="fas fa-dumbbell icons"></i>
             <h3>Stay Fit</h3>
             <p>Lorem ipsum dolor sit amet, no erat regione his. Corpora pertinax eam id. Vel soluta tractatos vulputate ex, libris tincidunt ut eum.</p>
           </div>
        </div>

    </div>

      </div>

      <div class="container-fluid">
        <!-- Footer Section -->
        <div class="row footer">
        <div class="col-md-12">
          <p class="text-center">Create by: Jeff Pendergrass, Andrew Waller and Felipe Hernandez</p>

        </div>
        </div>


      </div>
