.navbar {
    margin-bottom: 0px;
}

.blueNav {
    background-color: var(--logo-blue, #1B9CFC);
}

.navColor {
    color: var(--soft-grey,#F1F2F6 );
}

.logo {
    height: 60px;
    margin-top: -17px;
    margin-right: 28px;
}