.navbar {
    margin-bottom: 0px;
}

.blueNav {
    background-color: var(--logo-blue);
}

.navColor {
    color: var(--soft-grey);
}

.logo {
    height: 60px;
<<<<<<< HEAD
    margin-top: -17px;
=======
    margin-top: -10px;
>>>>>>> 581177ca1d9b44fb7a1d80d7534525fd8140dc1c
    margin-right: 28px;
}